[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/concurrentqueue"]
	path = deps/concurrentqueue
	url = https://github.com/tojocky/concurrentqueue.git
[submodule "deps/re2"]
	path = deps/re2
	url = https://github.com/google/re2.git
[submodule "build/common"]
	path = build/common
	url = https://github.com/tojocky/gn_build_common.git
