.cproject
.project
*.pch
*.sublime-project
*.sublime-workspace
.settings/*
out/**
**/*.swp

doc/html/*
doc/latex/*
wiki/*

webclient
webserver
file_test

webserver.dSYM
webclient.dSYM
file_test.dSYM
*.xcodeproj
core.*
build/gyp
build/gyp/*
build/gn-standalone

deps/gtest_build/*
